= semantic_form_for(@instituicao) do |f|
  = f.input :nome, :label => 'nome'
  = f.input :endereco, :label => 'endereco'
  = f.input :uf, :label => 'uf'
  = f.input :bairro, :label => 'bairro'
  = f.input :rua, :label => 'rua'
  = f.input :cep, :label => 'cep'
  = f.input :telefone, :label => 'telefone'
  = f.input :email, :label => 'email'
  = f.submit 'Salvar'

